{
    "template": "Button",
    "name": "ButtonMenu",
    "components": {
        "4": {
            "y": 3.5
        },
        "5": {
            "text": "Main Menu"
        },
        "ButtonAction": {
            "type": "ButtonMenu"
        }
    }
}