{
    "template": "Button",
    "name": "ButtonResume",
    "components": {
        "4": {
            "y_position": 0.5
        },
        "5": {
            "text": "Resume"
        },
        "ButtonAction": {
            "type": "ButtonResume"
        }
    }
}