{
	"name": "Dirt",
	"components": {
		"1": {
			"type": "SpriteRenderer",
			"sprite": "Dirt",
			"sorting_order": -999,
            "x_scale": 6.25,
            "y_scale": 6.25
		},
		"2": {
			"type": "Rigidbody2D",
			"body_type": "kinematic"
		},
		"3": {
			"type": "Block",
			"climbable": 0,
			"grappleable": 0
		}
	}
}