{
    "template": "Button",
    "name": "FileButton",
    "components": {
        "4": {
            "x": -2
        },
        "5": {
            "text": "File "
        },
        "ButtonAction": {
            "type": "ButtonFile"
        }
    }
}