{
    "name": "Hint",
    "components":
    {
        "1": {
            "type": "Rigidbody2D",
            "ui": true,
            "has_collider": false,
            "has_trigger": false,
            "gravity_scale": 0,
            "y_position": 1
        }
    }
}