{
	"name": "Pie",
	"components": {
		"1": {
			"type": "SpriteRenderer",
			"sprite": "pie",
			"sorting_order": -1,
            "x_scale": 0.5,
            "y_scale": 0.5
		},
		"2": {
			"type": "Rigidbody2D",
			"body_type": "kinematic",
			"has_collider": false,
			"trigger_type": "circle",
			"trigger_radius": 0.25
		},
		"3": {
			"type": "PieCollect"
		}
	}
}