{
    "name": "Player",
    "components": {
        "1": {
            "type": "SpriteRenderer",
            "sprite": "Player_blank",
            "sorting_order": 1,
            "x_scale": 6.25,
            "y_scale": 6.25
        },
        "2": {
            "type": "Rigidbody",
            "fixed_rotation": true,
            "friction": 10.0
        },
        "Manager": {
            "type": "SquareManager"
        }
    }
}
